{% extends "plantilla.html" %}

{% block body %}
<h1>Editar Artista</h1>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-4">
            <form action="{% url 'procesoActualizacionArtista' %}" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <input type="hidden" name="id" value="{{ artistaEditar.id }}">
                
                <div class="mb-3">
                    <label for="nombre"><b>Nombre:</b></label>
                    <input type="text" name="nombre" class="form-control" value="{{ artistaEditar.nombre }}" required>
                </div>
                
                <div class="mb-3">
                    <label for="genero"><b>Género:</b></label>
                    <input type="text" name="genero" class="form-control" value="{{ artistaEditar.genero }}" required>
                </div>
                
                <div class="mb-3">
                    <label for="pais_origen"><b>País de Origen:</b></label>
                    <input type="text" name="pais_origen" class="form-control" value="{{ artistaEditar.pais_origen }}" required>
                </div>
                
                <div class="mb-3">
                    <label for="biografia"><b>Biografía:</b></label>
                    <textarea name="biografia" class="form-control" rows="3">{{ artistaEditar.biografia }}</textarea>
                </div>

                <div class="mb-3">
                    <label for="redes_sociales"><b>Redes Sociales:</b></label>
                    <textarea name="redes_sociales" class="form-control" rows="3">{{ artistaEditar.redes_sociales }}</textarea>
                </div>
                    {% if artistaEditar.foto %}
                        <div>
                            <img src="{{ artistaEditar.foto.url }}" alt="Foto Actual" height="100px" width="100px">
                            <br><small>Si deseas cambiar la foto, selecciona una nueva.</small>
                        </div>
                    {% else %}
                        <p>No hay foto disponible.</p>
                    {% endif %}
                    <input type="file" name="foto" class="form-control" accept="image/*">
                </div>

                <div class="d-flex gap-2">
                    <button type="submit" class="btn btn-warning">Actualizar</button>
                    <a href="{% url 'ListadoArtista' %}" class="btn btn-danger">Cancelar</a>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}
